.card{
  width: 100%;
  height: fit-content;
  padding: 12px;
  inline-size: auto;
  border: 1px solid black;
  margin: 8px;
  border-radius: 24px;
}

.card-img{
  border-radius: 16px;
}

.add-card{
  width: 100%;
  font-size: large;
  border-radius: 16px;
  border: 1px solid black;
}
