.card{
  width: 100%;
  padding: 12px;
  inline-size: auto;
  margin: 0;
  border: 1px solid var(--border-default-color);
  border-radius: 24px;
  background: #f4f4f4;
}

.card:hover{
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: opacity 0.2s, box-shadow 0.2s;
}

.bottom-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name{
  font-family: 'JetBrains Mono', ui-serif;
  font-weight: 500;
  text-align: left;
  font-size: 24px;
  margin: 6px 0;
}

.price{
  font-family: 'JetBrains Mono', ui-serif;
  text-align: left;
  font-size: 18px;
  margin: 6px 0;
}

.description{
  text-align: justify;
  text-align-last: start;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: max-content;
}

.focused{
  text-align: start;
  font-size: larger;
  font-style: normal;
  margin: 0;
  font-weight: 600;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 0;
}

.card-img{
  height: 250px;
  border-radius: 16px;
  object-fit: cover;
}

