<div class="card">
  <img (click)="GoToItem()" class="card-img" src="{{this.Image}}"/>
  <p (click)="GoToItem()" class="name">{{this.Name}}</p>
  <div class="bottom-grid">
    <p class="price">{{this.Price}} Р.</p>
    @if (this.AddedToCart)
    {
      <button mat-flat-button type="button" (click)="Click(this)" active="false" class="add-card">Убрать из корзины</button>
    } @else {
      <button mat-flat-button type="button" (click)="Click(this)" active="true" class="add-card">Добавить в корзину</button>
    }
  </div>
</div>
