<app-custom-header/>

<div class="mt-2 mx-5 p-3 card flex-container">
    <div class="carousel">
      <ngb-carousel>
        @for (photo of Photos; track photo)
        {
          <ng-template ngbSlide>
            <img class="carousel"  src="{{photo}}">
          </ng-template>
        }
      </ngb-carousel>
    </div>
    <div class="right-content">
      <h2 class="mt-1">{{Title}}</h2>
      <h3 class="mt-2 fw-light">{{Price}}р</h3>
      <p class="mt-5">{{Description}}</p>
      <div class="mt-3 check-container">
        <mat-icon class="check-text" fontIcon="check"></mat-icon>
        <h5 class="mx-2 check-text">В наличии - {{CountInStock}}</h5>
      </div>

      @if (!InCart) {
        <div class="mt-2 mb-4">
          <button (click)="ReduceCnt($event)" class="btn-op">-</button>
          <input readonly="true" class="cnt-inp mx-2" value="{{SelectedCount}}">
          <button (click)="AddCnt($event)" class="btn-op">+</button>
        </div>

        <div class="check-container">
          <button (click)="AddToCart($event)" class="col-md-4 button-base mx-2 fs-5">В корзину</button>
        </div>
      } @else {
        <div class="check-container">
          <button (click)="AddToCart($event)" class="col-md-4 button-base fs-5">Товар уже в корзине</button>
        </div>
      }

    </div>
</div>

<h2 class="mx-5">Вам может понравиться</h2>

<div class="card px-4 mx-5 py-4 mt-3 items">
  @for (sellingItem of TopSellingItems; track sellingItem.id)
  {
    <app-selling-item [Id]="sellingItem.id" [Description]="sellingItem.description" [Name]="sellingItem.name" [Price]="sellingItem.price" [Image]="sellingItem.image" >
    </app-selling-item>
  }
</div>

<app-footer></app-footer>
