<app-custom-header/>

<div class="container-sm mt-2 p-3 card row-cols-md-2" >
    <div class="col">
      <ngb-carousel>
        <ng-template ngbSlide>
          @for (photo of Photos; track photo)
          {
            <img class="mh-100 mw-100"  src="{{photo}}">
          }
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col">
      <h2>{{Title}}</h2>
      <h2>{{Price}}$</h2>
      <p>{{Description}}</p>
      <h5>{{CountInStock}}</h5>

      <div class="row-cols-md-2">
        <button mat-flat-button>Купить сейчас</button>
        <button mat-flat-button>Добавить в корзину</button>
      </div>
    </div>
</div>

<app-footer></app-footer>
