<header>
  <nav>
    <ul>
      <li>
        <fa-icon size="xl" (click)="GoToMainPage($event)" [inverse]="true" [icon]="faDog"/>
      <a href="/">Главная</a>
      </li>
      <li>
        <fa-icon size="xl" [inverse]="true" [icon]="faPaw"/>
        <a href="category/dogs">Собаки</a>
      </li>
      <li>
        <fa-icon size="xl" [inverse]="true" [icon]="faCat"/>
        <a href="category/cats">Коты</a>
      </li>
      <li>
        <fa-icon size="xl" [inverse]="true" [icon]="faFishFins"/>
        <a href="category/fishs">Рыбки</a>
      </li>
      <li>
        <fa-icon size="xl" [inverse]="true" [icon]="faCrow"/>
        <a href="category/smallpets">Маленькие животные</a>
      </li>
    </ul>
    <div class="search-cart-profile">
      <input class="search" type="text" placeholder="Search...">
      <fa-icon size="2xl" (click)="GoToCart($event)" [icon]="faCartShopping">
      </fa-icon>
      <fa-icon size="2xl" (click)="GoToProfile($event)" [icon]="faCircleUser"/>
    </div>
  </nav>
</header>
