.hero {
  position: relative;
  text-align: center;
}

a{
  margin-left: 8px;
  text-decoration: none;
  color: white;
  cursor: alias;
  font-family: 'JetBrains Mono', ui-serif;
  font-weight: lighter;
  font-size: x-large;
}

.hero img {
  aspect-ratio: 2;
  inline-size: -webkit-fill-available;
  border-top: 1px solid rgb(239, 239, 239);
  border-left: 1px solid rgb(239, 239, 239);
  border-right: 3px solid rgba(128, 128, 128, 0.25);
  border-bottom: 3px solid rgba(128, 128, 128, 0.25);
  margin: 30px;
  border-radius: 24px;
}

.shop-by-pet, .top-selling-items, .pet-care-tips {
  padding: 6px 20px;
  text-align: center;
}

@media screen and (width > 900px) {
  .pet-categories, .tips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 3 / 6; }
    .div3 { grid-area: 3 / 1 / 5 / 4; }
    .div4 { grid-area: 3 / 4 / 5 / 6; }

    background: rgb(255,255,255);
    border-radius: 32px;
  }

  .welcome-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .head{
    font-size: xxx-large;
    margin: 6px;
  }

  .desc{
    font-size: x-large;
    margin: 6px;
  }

  .items{
    display: grid;
    row-gap: 8px;
    column-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section{
    margin-left: 96px;
    margin-right: 96px;
  }

  h2 {
    text-align: center;
    margin: 12px 0;
    font-size: xxx-large;
    font-weight: 500;
    font-family: 'JetBrains Mono', ui-serif;
  }
}

@media screen and (width < 600px) {
  .pet-categories, .tips {
    display: grid;
    justify-content: normal;
    background: rgb(255,255,255);
    border-radius: 24px;
  }

  h2 {
    text-align: center;
    margin: 12px 0;
    font-size: large;
    font-weight: 500;
    font-family: 'JetBrains Mono', ui-serif;
  }

  .welcome-text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .head{
    font-size: large;
    margin: 6px;
  }

  .desc{
    font-size: medium;
    margin: 6px;
  }

  .items{
    display: grid;
    row-gap: 8px;
    column-gap: 8px;
    grid-template-columns: 1fr;
  }

  section{
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (width < 900px) and (width > 600px) {
  .pet-categories, .tips {
    display: grid;
    justify-content: normal;
    grid-template-columns: 1fr 1fr;
    background: rgb(255,255,255);
    border-radius: 32px;
  }

  h2 {
    text-align: center;
    margin: 12px 0;
    font-size: xx-large;
    font-weight: 500;
    font-family: 'JetBrains Mono', ui-serif;
  }

  .welcome-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .head{
    font-size: xx-large;
    margin: 6px;
  }

  .desc{
    font-size: large;
    margin: 6px;
  }

  .items{
    display: grid;
    row-gap: 8px;
    column-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }

  section{
    margin-left: 48px;
    margin-right: 48px;
  }
}

.category, .item, .tip {
  margin: 10px;
  text-align: center;
}

.img, .icon{
  width: 32px;
  margin-left: 8px;
  margin-right: 8px;
  filter: invert(1);
}
