<app-custom-header/>

<section class="hero">
  <img src="/Assets/Imgs/cat.jpg" alt="Welcome Cat">
  <div class="welcome-text">
    <h1 class="head">Добро пожаловать в PetPals</h1>
    <p class="desc">Лучшее место для покупки товаров для животных</p>
  </div>
</section>

<section class="shop-by-pet">
  <h2>Шоппинг по категориям</h2>
  <div class="pet-categories">
    <app-product-card [Category]=Categories[0] class="div1">
    </app-product-card>
    <app-product-card [Category]=Categories[1]  class="div2">
    </app-product-card>
    <app-product-card [Category]=Categories[2] class="div3">
    </app-product-card>
    <app-product-card [Category]=Categories[3]  class="div4">
    </app-product-card>
  </div>
</section>

<section class="top-selling-items">
  <h2>Бестселлеры</h2>
  <div class="items">
    @for (sellingItem of TopSellingItems; track sellingItem.id)
    {
      <app-selling-item [Id]="sellingItem.id" [Description]="sellingItem.description" [Name]="sellingItem.name" [Price]="sellingItem.price" [Image]="sellingItem.image" >
      </app-selling-item>
    }
  </div>
</section>

<app-footer/>
