<div class="order-wrapper">
  <div class="order-header-container">
    <div>
      <h2>Заказ ORD-0232</h2>
      <p>Оформлен 21.01.2025</p>
    </div>
    <p class="status" state="ok">
      Доставлен
    </p>
    <div>
      <h2>800 р.</h2>
      <p>2 товара</p>
    </div>
  </div>
  <mat-divider/>

  <div class="product-container">
    <h4>Мячик для собаки</h4>
    <p>2 шт.</p>
    <p>Всего: 400 р.</p>
  </div>

  <mat-divider/>

  <div class="order-footer-container">
    <h4>Суммарная стоимость: 800р.</h4>
    <p>Получен 22.01.2025, 17:55</p>
  </div>
</div>
