<div class="order-wrapper">
  <div class="order-header-container">
    <div>
      <h2>Заказ {{order?.idOrder}}</h2>
      <p>Оформлен {{order?.orderDate}}</p>
    </div>
    @if (order?.isDelivered)
    {
      <p class="status" state="ok">
        Доставлен
      </p>
    } @else {
      <p class="status" state="warning">
        В работе
      </p>
    }
    <div>
      <h2>{{SumPrice}} р.</h2>
      <p>{{TotalCnt}} товара</p>
    </div>
  </div>
  <mat-divider/>

  @for (item of order?.products; track order?.idOrder)
  {
    <div class="product-container">
      <h4>{{item.item1.title}}</h4>
      <p>{{item.item2}} шт.</p>
      <p>Всего: {{item.item2*item.item1.price}} р.</p>
    </div>
  }

  <mat-divider/>

  <div class="order-footer-container">
    <h4>Суммарная стоимость: {{SumPrice}}р.</h4>
    @if (order?.isDelivered) {
      <p>Получен {{order?.deliverDate}}</p>
    }
  </div>
</div>
