@media screen and (width < 600px) {
  p{
    font-size: 16pt;
    max-width: 60%;
    margin: auto;
  }

  img{
    margin: auto;
    max-width: 50vw;
  }
}

.error-wrapper {
  text-align: center;
}

@media screen and (width >= 600px) {
  p{
    font-size: 32pt;
    max-width: 60%;
    margin: auto;
  }

  img{
    margin-top: 32px;
    max-width: 20vw;
  }
}

