  <div class="container">
    <form
      class="form-container"
      (ngSubmit)="onSubmit($event)"
      [formGroup]="form">
        <h1 class="header">Вход</h1>
        <h2 class="default-top-margin lt-container label-text">Логин</h2>
        <input class="text" formControlName="username" minlength="4">
        <h2 class="default-top-margin lt-container label-text">Пароль</h2>
        <input class="text" formControlName="password">
        <button type="submit" href="" class="default-top-margin">Войти</button>
        <h2 class="lt-container label-text">
          Нет аккаунта?
          <a (click)="registerRequired($event)" class="default-top-margin">Регистрация</a>
        </h2>
        <a class="default-top-margin">Забыл пароль</a>
    </form>
  </div>
