@import "app/fonts.css";

:root [Theme="dark"]{
  --dark-color: #09314a;

  --bg-color: #3c3c3c;

  --white-color: #989898;
  --black-color: #000000;

  --border-default-color: rgba(80, 80, 80, 0.25);
  --dark-input-color: rgba(0, 0, 0, 0.05);
  --attention-color: rgb(164, 60, 60);
}

:root [Theme="light"]{
  --dark-color: #22577A;

  --bg-color: #f1f1f1;

  --white-color: #fff;
  --black-color: #000000;

  --border-default-color: rgba(80, 80, 80, 0.25);
  --dark-input-color: rgba(0, 0, 0, 0.05);
  --attention-color: rgb(164, 60, 60);
}

mat-divider{
  border-top-color: var(--border-default-color) !important;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', ui-serif;
}

.button-base{
  padding: 12px;
  border: none;
  color: white;
  border-radius: 12px;
  background: var(--dark-color);
}

.button-base:hover{
  opacity: 0.7;
  transition: 0.2s;
}

body{
  background-color: var(--bg-color);
}

img{
  width: 100%;
}

html, body { height: fit-content; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
