@import "app/fonts.css";

:root{
  --dark-color: #000000;
  --light-color: #F7FAFA;
  --border-default-color: rgba(128, 128, 128, 0.25);
  --dark-input-color: rgba(0, 0, 0, 0.05);
  --text-light-color: rgb(221, 221, 221);
  --link-default-color: rgb(255 236 162);
  --attention-color: rgb(182, 44, 44);
  --border-selection-color: rgb(182, 44, 44);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--light-color);
}

img{
  width: 100%;
}
