@import "app/fonts.css";

:root{
  --dark-color: #22577A;
  --light-color: #C7F9CC;
  --light-blue-color: #38A3A5;
  --light-green-color: #80ED99;
  --normal-color: #57CC99;

  --bg-color: #f1f1f1;

  --white-color: #fff;
  --black-color: #000000;

  --border-default-color: rgba(128, 128, 128, 0.25);
  --border-hover-color: rgba(70, 70, 70, 0.25);
  --dark-input-color: rgba(0, 0, 0, 0.05);
  --text-light-color: rgb(221, 221, 221);
  --link-default-color: rgb(162, 202, 255);
  --attention-color: rgb(164, 60, 60);
  --border-selection-color: rgb(182, 44, 44);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', ui-serif;
}

body{
  background-color: var(--bg-color);
}

img{
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
