<body>
<div class="container">
  <h1 class="header">Регистрация</h1>
  <form class="form-container">
    <h2 class="default-top-margin">Логин</h2>
    <input minlength="4">
    <h2 class="default-top-margin">Пароль</h2>
    <input>
    <h2 class="default-top-margin">Повтор пароля</h2>
    <input>
    <button type="button" href="" class="default-top-margin">Войти</button>
    <a class="default-top-margin">Регистрация</a>
    <a class="default-top-margin">Забыл пароль</a>
  </form>
</div>
</body>
