<div class="container">
  <div [formGroup]="form"
    class="form-container">
    <h1 class="header">Регистрация</h1>
    <div class="fields-wrapper">
      <h2 class="default-top-margin lt-container label-text">Логин</h2>
      <input class="text" formControlName="username" minlength="4">
      <h2 class="default-top-margin lt-container label-text">Пароль</h2>
      <input class="text" type="password" formControlName="password">
      <h2 class="default-top-margin lt-container label-text">Почта</h2>
      <input class="text" type="email" formControlName="email" minlength="4">
      <h2 class="default-top-margin lt-container label-text">Дата рождения</h2>
      <input class="text" type="date" formControlName="dateBorn">
    </div>
    <button type="button" (click)="upload($event)" class="default-top-margin button-base">Войти</button>
    <h2 class="lt-container label-text">
      Есть аккаунт?
      <a (click)="goToLoginPage($event)" class="default-top-margin">Войти</a>
    </h2>
  </div>
</div>
