<div class="container">
  <form
    class="form-container">
    <h1 class="header">Регистрация</h1>
    <div class="fields-wrapper">
      <h2 class="default-top-margin lt-container label-text">Логин</h2>
      <input class="text" formControlName="username" minlength="4">
      <h2 class="default-top-margin lt-container label-text">Пароль</h2>
      <input class="text" formControlName="password">
    </div>
    <button type="submit" href="" class="default-top-margin">Войти</button>
    <h2 class="lt-container label-text">
      Есть аккаунт?
      <a (click)="goToLoginPage($event)" class="default-top-margin">Войти</a>
    </h2>
  </form>
</div>
