<div class="container">
  <h2>Персональная информация</h2>
  <p>В этом месте вы можете изменить свою персональную информацию.</p>
  <div class="info-container">
    <img src="{{userInfo?.photo}}">
    <div class="basic-info">
      <p>{{userInfo?.username}}</p>
      <p>{{userInfo?.email}}</p>
      <input class="button-base" type="file">
      <mat-divider class="divider"/>
      <button (click)="LoadPhoto($event)" class="button-base">Загрузить фото</button>
    </div>
  </div>
  <mat-divider class="divider"/>
  <button class="button-base">Сохранить</button>
</div>
